body {
    background-color: black;
    margin: 0;
    padding: 30px 0 0 0;
}

.container {
    width: 768px;
    margin: 0 auto;
    padding: 15px;
}

.container-top {
    color: orange;
}

.container-top h1 {
    font-size: 3em;
    margin: 0;
}

.container-bottom {
    min-height: 450px;
    background-color: lightgray;
    border-radius: 3px;
}

.checked {
    color: dimgrey;
    text-decoration: line-through;
}

.hidden {
    display: none;
}

#editForm {
    display: inline-block;
}

#toDoForm {
    margin: 5px 0 20px;
}

#toDoList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

span {
    margin: 5px 15px;
}

button {
    margin: 3px;
}