body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    width: 768px;
    min-height: 629px;
    margin: 0 auto;
    background-color: orange;
    padding: 15px;
}

.checked {
    color: lightgray;
    text-decoration: line-through;
}

.hidden {
    display: none;
}

#editForm {
    display: inline-block;
}

#toDoList {
    list-style: none;
    padding: 0;
}

span {
    margin: 5px 15px;
}

button {
    margin: 3px;
}