body {
    background-color: black;
    margin: 0;
    padding: 30px 0 0 0;
    min-height: 617px;
}

.container {
    width: 768px;
    margin: 0 auto;
    padding: 15px;
}

.container-top {
    color: orange;
}

.container-top h1 {
    font-size: 3em;
    margin: 0;
}

.container-bottom {
    min-height: 450px;
    background-color: lightgray;
    border-radius: 3px;
}


.checked {
    color: dimgrey;
    text-decoration: line-through;
}

.hidden {
    display: none;
}

#editForm {
    display: inline-block;
}

#toDoForm, #clear, #clearAll {
    margin: 5px 10px 20px 0;
}

#toDoForm {
    float: left;
}

#clear, #clearAll {
    float: right;
}

hr {
    clear: both;
}

#toDoList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

span {
    margin: 5px 15px;
}

button {
    margin: 3px;
}

input, button {
    padding: 5px;
}

li input {
    margin: 3px;
}

footer {
    color: lightgray;
    font-size: 0.9em;
}